html {
	height:100%;
}

body {
	height: 100vh;
	font-family: "Roboto", sans-serif;
}

button {
	min-width: 75px;
}

label {
	font-weight: lighter;
}

.nav-item {
	font-family: �Basis Grotesque Pro Bold�, sans-serif;
	font-weight: 400;
	text-align:left;
}

.navbar {
	background-color: #000;
	padding: 0 50px;
	min-height: 70px;
}


.run-abort {
	display: none;
}

img.navbar-brand {
	max-height: 31.58px;
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
}

#export-session:hover {
	text-decoration: none;
}


#show-python, #export-session, #abort-script, #run-script, #browse-files, #help, #display-picture-button {
	text-decoration:none;
	color: lightgray;
}

#show-pythom:hover, #export-session:hover, #abort-script:hover, #run-script:hover, #browse-files:hover, #help:hover, #display-picture-button:hover {
	color: whitesmoke;
}


#fileSelected, #image-file, #audio-file {
	display: none;
}

button#connect-to-robot.btn.btn-outline-light.btn-outline-light:not(:disabled):not(.disabled).active.my-2.my-sm-0.active {
	color: #6B09EE;
}

#blocklyArea {
	margin: 20px;
	padding: 0;
	position: absolute;
	height: 83%;
	width: 97%;
}

#blocklyDiv {
	height: 100%;
}

a#show-python.disabled, a#export-session.disabled, a#abort-script.disabled, a#run-script.disabled, a#browse-files.disabled, a#help.disabled {
	/* Make the disabled links grayish*/
	color: rgba(255,255,255,.5);
	/* And disable the pointer events */
	pointer-events: none;
}

.cls-1, .cls-2, .cls-3 {
	fill: #6600ed;
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-direction: alternate
}

.cls-1 {
	animation-name: shrinkgrow;
}

.cls-2 {
	animation-name: shrinkgrow;
	animation-delay: -.35s;
}

.cls-3 {
	animation-name: shrinkgrow;
	animation-delay: -.7s;
}


@-webkit-keyframes shrinkgrow {
	from {
		width: 130px;
		height: 130px;
		fill-opacity: .7;
	}

	to {
		width: 100px;
		height: 100px;
		fill-opacity: .1;
	}
}

@keyframes shrinkgrow {
	from {
		width: 130px;
		height: 130px;
		fill-opacity: .7;
	}

	to {
		width: 95px;
		height: 95px;
		fill-opacity: .1;
	}
}

@font-face {
	font-family: �Basis-Grotesque-Regular�;
	src: url(/Content/fonts/basis-grotesque-regular.woff2) format("woff2"),
		url(/Content/fonts/basis-grotesque-regular.woff) format(�woff�),
		url(/Content/fonts/basis-grotesque-regular.ttf�) format(�truetype�)
	}

@font-face{
	font-family:�Basis-Grotesque-Bold�;
	src:url(/Content/fonts/basis-grotesque-bold.eot#iefix) format(�embedded-opentype�),
		url(/Content/fonts/basis-grotesque-bold.woff2) format("woff2"),
		url(/Content/fonts/basis-grotesque-bold.woff) format(�woff�),
		url(/Content/fonts/basis-grotesque-bold.ttf) format(�truetype�)
}


#toast {
	visibility: hidden; 
	min-width: 250px; 
	max-height: 200px;
	margin-left: -125px; 
	background-color: #6B09EE;
	color: #fff; 
	text-align: center;
	border-radius: 2px; 
	padding: 16px; 
	position: absolute; 
	top: 50%;
	z-index: 1; 
	left: 50%; 
	bottom: 50px; 
	border: 1px solid white; 
}


	#toast.show {
		visibility: visible; 
	}









