<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Anil Agarwal">
  <!-- TODO: Update page title -->
  <title>Template</title>

  <link href="../../lib/bootstrap-5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../common/common-styles.css" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <!-- TODO: Rename custom styles css -->
  <link href="template-styles.css" rel="stylesheet">
</head>

<body>
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html">Visual Planning</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="../pddl/pddl.html">PDDL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../behavior-trees/behaviortrees.html">Behavior Trees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../state-machines/statemachines.html">State Machines</a>
          </li>
          <li class="nav-item">
            <!-- TODO: Rename "Template" below. Also remember to add the new link to other pages. -->
            <a class="nav-link active" href="#">Template</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <!-- TODO: Replace ".code" with the file extension(s) accepted for loading workspace -->
            <input type="file" id="customFileInput" style="display: none;" onchange="uploadBlocklyFile()" accept=".code">
            <label class="nav-link disabled" for="customFileInput">Load</label>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">View Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="downloadCode()">Save</a>
          </li>
        </ul>
        <form class="d-flex" role="code">
          <div class="input-group input-group-sm">
            <!-- TODO: Replace "workspace_code" with a filename suggestion / default for downloading code -->
            <input type="text" class="form-control" placeholder="workspace_code" aria-label="downloadFilename" id="downloadFilename">
            <!-- TODO: Replace ".code" with file extension for saved code -->
            <span class="input-group-text">.code</span>
          </div>
        </form>
      </div>
    </div>
  </nav>
  
  <main class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div id="blocklyArea">
          <div id="blocklyDiv"></div>
        </div>
      </div>
      <div class="col">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
          </div>
        </div>
      </div>
    </div>
  </main> <!-- /container-fluid -->
  
  <!-- TODO: Replace toolbox XML -->
  <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="Logic" colour="#5b67a5">
      <block type="not"></block>
      <block type="and_or">
        <field name="LOGIC_OPERATION">AND</field>
      </block>
    </category>
    <!-- <category name="Dynamic" colour="#995ba5" custom="DYNAMIC_CATEGORY"></category> -->
  </xml>

  <!-- TODO: Replace workspace blocks XML -->
  <xml xmlns="https://developers.google.com/blockly/xml" id="workspaceBlocks" style="display: none">
    <block type="and_or" id="[E+IY?TSZ7m2#z)JS,!7" x="350" y="100">
      <field name="LOGIC_OPERATION">AND</field>
    </block>
  </xml>
  
  <script src="../../lib/bootstrap-5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  
  <script type="text/javascript">
    globalThis.CLOSURE_NO_DEPS = true;
  </script>
  <script src="../../lib/google-blockly-v8.0.5/closure/goog/base.js"></script>
  <script src="../../lib/google-blockly-v8.0.5/tests/deps.js"></script>
  <script src="../../lib/google-blockly-v8.0.5/blockly_compressed.js"></script>
  <script src="../../lib/google-blockly-v8.0.5/msg/js/en.js"></script>
  <!-- TODO: Rename scripts below and add any new scripts -->
  <script src="template_blocks.js"></script>
  <script src="template_block_codegen.js"></script>
  <script src="workspace.js"></script>

</body>

</html>